/* .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: rgb(196, 211, 224);
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #1a1a1a;
  font-size: 20px;
  font-weight: 600;
} */
